#Dark a {
  color: #F8F8F8;
}
#Dark p {
  color: #F8F8F8;
}
#Dark h1 {
  color: #F8F8F8;
}
#Dark h2 {
  color: #F8F8F8;
}
#Dark h3 {
  color: #F8F8F8;
}
#Dark .navbar {
  background-color: grey;
}
#Dark .navbar .navbarWrapper {
  background-color: #313536;
}
#Dark .navbar .navbarWrapper .navigation a {
  color: #F8F8F8;
}
#Dark .navbar .navbarWrapper .settings svg {
  fill: #F8F8F8;
}
#Dark .navbar .navbarWrapper .settings .settingItems {
  background-color: #313536;
}
#Dark .navbar .navbarWrapper .settings .settingItems button {
  color: #F8F8F8;
  background-color: #313536;
}
#Dark .appWrapper .home {
  background-color: #313536;
  border-color: black;
  color: #F8F8F8;
}
#Dark .appWrapper .home .devices a {
  border-color: #F8F8F8;
  background-color: #313536;
}
#Dark .appWrapper .home .devices a:hover {
  background-color: black;
}
#Dark .appWrapper .home .devices svg {
  fill: #F8F8F8;
}
#Dark .appWrapper .contact .contactForm {
  color: aliceblue;
  background-color: #313536;
  border-color: black;
}
#Dark .appWrapper .contact .contactForm form .object input, #Dark .appWrapper .contact .contactForm form .object textarea {
  border-bottom: 1px solid rgb(184, 177, 177);
}
#Dark .appWrapper .fortigate .configuration {
  border: 2px solid black;
  background-color: #313536;
  color: #F8F8F8;
}
#Dark .appWrapper .fortigate .textfile {
  border: 2px solid #313536;
  color: #F8F8F8;
  background-color: rgb(179, 177, 177);
}
#Dark .appWrapper .fortigate .textfile button {
  background-color: #313536;
  color: #F8F8F8;
}
#Dark .appWrapper .fortigate .textfile svg {
  fill: #F8F8F8;
}
#Dark .appWrapper .fortigate .textfile .rawconfig textarea {
  border: 2px solid #313536;
  background-color: #313536;
  color: #F8F8F8;
}

#Blue a {
  color: #F8F8F8;
}
#Blue p {
  color: #F8F8F8;
}
#Blue h1 {
  color: #F8F8F8;
}
#Blue h2 {
  color: #F8F8F8;
}
#Blue h3 {
  color: #F8F8F8;
}
#Blue .appWrapper .navbar {
  background-color: #B3B1B1;
}
#Blue .appWrapper .navbar .navbarWrapper {
  background-color: #0054A0;
}
#Blue .appWrapper .navbar .navbarWrapper .navigation a {
  color: #F8F8F8;
}
#Blue .appWrapper .navbar .navbarWrapper .settings svg {
  fill: #F8F8F8;
}
#Blue .appWrapper .navbar .navbarWrapper .settings .settingItems {
  background-color: #0054A0;
}
#Blue .appWrapper .navbar .navbarWrapper .settings .settingItems button {
  color: #F8F8F8;
  background-color: #0054A0;
}
#Blue .appWrapper .home {
  background-color: #0054A0;
  border-color: #F8F8F8;
  color: #F8F8F8;
}
#Blue .appWrapper .home .devices a {
  border-color: #F8F8F8;
  background-color: #0489D9;
}
#Blue .appWrapper .home .devices a:hover {
  background-color: #0054A0;
}
#Blue .appWrapper .home .devices svg {
  fill: #F8F8F8;
}
#Blue .appWrapper .contact .contactForm {
  color: aliceblue;
  background-color: #0054A0;
  border-color: #F8F8F8;
}
#Blue .appWrapper .contact .contactForm form .object input, #Blue .appWrapper .contact .contactForm form .object textarea {
  border-bottom: 1px solid rgb(184, 177, 177);
}
#Blue .appWrapper .fortigate .configuration {
  border: 2px solid #F8F8F8;
  background-color: #0054A0;
  color: #F8F8F8;
}
#Blue .appWrapper .fortigate .configuration a {
  color: #F8F8F8;
}
#Blue .appWrapper .fortigate .textfile {
  border: 2px solid #0054A0;
  color: #F8F8F8;
  background-color: rgb(179, 177, 177);
}
#Blue .appWrapper .fortigate .textfile button {
  background-color: #F8F8F8;
  color: #313536;
}
#Blue .appWrapper .fortigate .textfile svg {
  fill: #F8F8F8;
}
#Blue .appWrapper .fortigate .textfile .rawconfig textarea {
  border: 2px solid #F8F8F8;
  background-color: #F8F8F8;
  color: #313536;
}

* {
  text-align: center;
  margin: 0px;
  padding: 0px;
}
* h1 {
  color: #F8F8F8;
}
* h2 {
  color: #F8F8F8;
}
* h3 {
  color: #F8F8F8;
}
* p {
  color: #F8F8F8;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-position: left 55px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #B3B1B1;
}

.navbar {
  background-color: #B3B1B1;
  margin-bottom: 40px;
}
.navbar .navbarWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  margin: auto;
  max-width: 1280px;
  background-color: #0054A0;
  border-radius: 15px;
}
.navbar .navbarWrapper .navigation {
  padding-left: 80px;
}
.navbar .navbarWrapper .navigation p {
  color: azure;
  font-weight: bold;
  text-decoration: underline;
}
.navbar .navbarWrapper .navigation a {
  text-decoration: none;
  color: azure;
}
.navbar .navbarWrapper .navigation a:hover {
  text-decoration: underline;
  transform: scale(1.2);
  opacity: 0.7;
}
.navbar .navbarWrapper .settings {
  padding-right: 50px;
  display: flex;
  position: relative;
}
.navbar .navbarWrapper .settings svg {
  width: 20px;
  fill: #F8F8F8;
}
.navbar .navbarWrapper .settings svg:hover {
  cursor: pointer;
  scale: 110%;
}
.navbar .navbarWrapper .settings .settingItems {
  position: absolute;
  top: 40px;
  right: -10px;
  background-color: #0054A0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 4px;
  width: 100px;
}
.navbar .navbarWrapper .settings .settingItems button {
  padding: 5px;
  color: #F8F8F8;
  background-color: #0054A0;
}
.navbar .navbarWrapper .settings .settingItems button:hover {
  opacity: 0.7;
}

.home {
  margin: auto;
  max-width: 600px;
  background-color: #0054A0;
  border-color: #F8F8F8;
  border-style: solid;
  border-radius: 50px;
  color: aliceblue;
  padding: 0px 0px 50px;
}
.home .devices {
  padding-bottom: 20px;
  margin: auto;
}
.home .devices h1 {
  margin: 10px;
  margin-bottom: 0px;
  padding: 20px;
}
.home .devices p {
  padding: 40px;
  padding-bottom: 70px;
  font-size: 22px;
}
.home .devices a {
  padding-top: 30px;
  text-decoration: none;
  color: white;
  padding: 20px;
  border-color: azure;
  border-style: solid;
  border-radius: 30px;
  background-color: #0489D9;
}
.home .devices a:hover {
  transition: 0.3s;
  font-size: 110%;
  opacity: 1;
  background-color: #0054A0;
  font-weight: bold;
}
.home .devices svg {
  margin: auto;
  height: 15px;
  width: 15px;
  fill: white;
}
.home .contact {
  margin: auto;
  max-width: 400px;
  padding-top: 50px;
}
.home .contact p {
  font-size: 13px;
}
.home .contact a {
  text-decoration: underline;
  color: white;
}
.home .contact a:hover {
  text-decoration: underline;
  font-size: 110%;
  opacity: 0.7;
}

.contact .contactForm {
  margin: auto;
  color: #F8F8F8;
  padding: 0px 0px 50px;
  max-width: 37.5em;
  border-style: solid;
  border-radius: 50px;
  background-color: #0054A0;
}
.contact .contactForm form {
  padding: 0em 2em 1em 2em;
}
.contact .contactForm form .object {
  text-align: left;
}
.contact .contactForm form .object label {
  margin: 2em 0em 0.5em 0em;
  font-weight: bold;
  text-align: left;
  display: block;
  padding-left: 0.5em;
}
.contact .contactForm form .object input, .contact .contactForm form .object textarea {
  border-radius: 0.5em;
  width: 100%;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1px solid rgb(184, 177, 177);
  text-align: left;
}
.contact .contactForm form .object input:focus, .contact .contactForm form .object textarea:focus {
  filter: brightness(1.2);
}
.contact .contactForm form .object .characterCount {
  font-style: italic;
}
.contact .contactForm form .recaptcha {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 1em;
}
.contact .contactForm form .confirmationMessage {
  padding: 1em;
  text-align: center;
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
}
.contact .contactForm form button {
  margin-top: 2.5em;
  width: 90%;
  max-width: 8em;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.fortigate {
  margin: auto;
  display: flex;
  max-width: 130vh;
  max-height: 90vh;
  overflow: hidden;
}
.fortigate h1 {
  padding: 20px;
}
.fortigate .configuration {
  margin-top: 20px;
  flex: 1;
  border: 2px solid white;
  background-color: #0054A0;
  border-radius: 50px 0px 0px 50px;
  padding: 20px;
  color: white;
  position: relative;
}
.fortigate .configuration form {
  flex-direction: column-reverse;
}
.fortigate .configuration form .object {
  padding: 20px;
}
.fortigate .configuration form .object ol {
  list-style: none;
}
.fortigate .configuration form .object ol li {
  margin: auto;
  max-width: 280px;
  display: flex;
  justify-content: space-between;
}
.fortigate .configuration form .object label {
  padding: 0px 25px;
}
.fortigate .configuration form .object label input {
  text-align: left;
}
.fortigate .configuration form .ports {
  margin: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #F8F8F8;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 25px;
}
.fortigate .configuration form .ports .port {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.fortigate .configuration form .ports .port label {
  padding: 10px;
}
.fortigate .configuration form .ports .port label p {
  margin: 0;
  max-width: 50px;
}
.fortigate .configuration form .ports .port label svg {
  border: 1px solid #F8F8F8;
  border-radius: 5px;
  width: 25px;
  fill: #F8F8F8;
  margin: 0px;
}
.fortigate .configuration form .ports .port label svg:hover {
  fill: grey;
  cursor: pointer;
  border-color: grey;
}
.fortigate .configuration form .ports .port label.active svg {
  fill: greenyellow;
  border-color: greenyellow;
}
.fortigate .configuration form .ports .menu .submenu ol {
  list-style: none;
}
.fortigate .configuration form .ports .menu .submenu ol li {
  margin: auto;
  max-width: 250px;
  display: flex;
  justify-content: space-between;
}
.fortigate .configuration form .ports .menu .submenu .adminaccess {
  margin: auto;
}
.fortigate .configuration form .ports .menu .submenu .adminaccess p {
  padding: 10px 0px 10px 0px;
}
.fortigate .configuration form .ports .menu .submenu .adminaccess li {
  max-width: 90px;
}
.fortigate .configuration form .ports .dhcpmenu ol {
  list-style: none;
}
.fortigate .configuration form .ports .dhcpmenu ol li {
  margin: auto;
  max-width: 250px;
  display: flex;
  justify-content: space-between;
}
.fortigate .configuration form .sdagstandards {
  padding-top: 10px;
}
.fortigate .configuration form .sdagstandards p {
  padding: 15px 0px 15px 0px;
}
.fortigate .configuration form .sdagstandards li {
  margin: auto;
  list-style: none;
  max-width: 150px;
  display: flex;
  justify-content: space-between;
}
.fortigate .textfile {
  margin-top: 20px;
  max-width: 400px;
  height: 70vh;
  border: 2px solid #0054A0;
  border-radius: 0px 25px 25px 0px;
  color: white;
  background-color: rgb(179, 177, 177);
  padding: 20px;
  white-space: nowrap;
  width: 100%;
  height: 100%;
}
.fortigate .textfile h3 {
  padding-top: 20px;
  color: white;
}
.fortigate .textfile label {
  float: right;
}
.fortigate .textfile button {
  background-color: white;
}
.fortigate .textfile svg {
  fill: white;
  height: 35px;
  width: 35px;
  padding: 0px 10px 0px 20px;
}
.fortigate .textfile svg:hover {
  cursor: pointer;
}
.fortigate .textfile .rawconfig textarea {
  width: 100%;
  min-height: 70vh;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f8f8f8;
  font-size: 16px;
  text-align: left;
}
.fortigate .textfile .rawconfig textarea .highlight {
  color: red;
}
.fortigate .textfile .rawconfig p {
  text-align: left;
  color: black;
  background-color: white;
}

.nopage {
  padding: 50px;
}
.nopage h1 {
  padding-bottom: 20px;
}
.nopage a {
  text-decoration: none;
  color: #0489D9;
}
.nopage a:hover {
  text-decoration: underline;
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */